
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.about-me {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .about-me ul li {
    background-color: #007bff; 
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    color: white; 
    list-style: none; 
  }
  

main {
    padding: 20px;
    text-align: center;
}

.intro h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.projects h2, .about h2 {
    font-size: 2em;
    margin: 20px 0;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.project {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    background-color: #f0f0f0;
    border-color: #007bff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.project span {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}

.about {
    margin-top: 40px;
}

.skills {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.skills li {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
